---

---
<!--Contenedor de contacto-->
<section class="w-full h-auto flex flex-col justify-center items-center sectionDark" id="contactMauricio">

    <div class="sm:w-full md:w-full lg:w-full xl:w-full 2xl:w-full w-4/5 h-auto flex justify-center items-center text-center m-auto sm:mt-20 md:mt-20 lg:mt-20 xl:mt-20 2xl:mt-20 mt-12">
        <p class="text-[#3B88C3] sm:text-4xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-5xl text-4xl">Are you interested? Contact me</p>
    </div>

    <div class="sm:w-full md:w-full lg:w-full xl:w-full 2xl:w-full w-4/5 h-auto flex justify-center items-center text-center sm:mt-4 md:mt-4 lg:mt-4 xl:mt-4 2xl:mt-4 mt-2">
        <p class="sm:text-lg md:text-lg lg:text-xl xl:text-xl 2xl:text-xl text-base px-6">I’m excited to learn about your project. Ready to get started?</p>
    </div>

    <!--Contenedor formulario contacto-->
    <div class="sm:w-4/5 md:w-4/5 w-4/5 lg:w-2/3 xl:w-3/5 2xl:w-4/9 h-auto m-auto flex flex-col justify-center items-center text-center mt-8 border-2 border-[#3B88C3] rounded-lg px-10 py-10">

        <!--Contenedor nombre y email-->
        <div class="w-full h-auto flex sm:flex-row md:flex-row lg:flex-row xl:flex-row 2xl:flex-row flex-col justify-center items-center text-center sm:gap-5 md:gap-5 lg:gap-5 xl:gap-36 2xl:gap-36 gap-5">
            
            <!--Contenedor nombre-->
            <div class="w-full h-auto flex flex-col gap-2">
                <label for="inputName" class="text-gray-500 text-3xl">Name</label>
                <input type="text" id="inputName" name="name" class="border border-gray-400 rounded-lg text-center sm:px-3 md:px-3 px-10 sm:py-1 md:py-1 lg:py-1 xl:py-1 2xl:py-1 py-2 focus:outline-none focus:border-[#3B88C3]" autocomplete="off" 
                    placeholder="Insert your name">
            </div>

            <!--Contenedor email-->
            <div class="w-full h-auto flex flex-col gap-2">
                <label for="inputEmail" class="text-gray-500 text-3xl left-0">Email</label>
                <input type="email" id="inputEmail" name="email" class="border border-gray-400 rounded-lg text-center sm:px-3 md:px-3 px-10 sm:py-1 md:py-1 lg:py-1 xl:py-1 2xl:py-1 py-2 focus:outline-none focus:border-[#3B88C3]" autocomplete="off" 
                    placeholder="Insert your email">
            </div>

        </div>

        <!--Contenedor teléfono y tipo de proyecto-->
        <div class="w-full h-auto flex sm:flex-row md:flex-row lg:flex-row xl:flex-row 2xl:flex-row flex-col justify-center items-center text-center sm:gap-5 md:gap-5 lg:gap-5 xl:gap-36 2xl:gap-36 gap-5 mt-6">
            
            <!--Contenedor teléfono-->
            <div class="w-full h-auto flex flex-col gap-2">
                <label for="inputNumber" class="text-gray-500 text-3xl">Phone number</label>
                <input type="text" id="inputNumber" name="number" class="w-auto border border-gray-400 rounded-lg text-center sm:px-3 md:px-3 px-10 sm:py-1 md:py-1 lg:py-1 xl:py-1 2xl:py-1 py-2 focus:outline-none focus:border-[#3B88C3]" 
                    autocomplete="off" placeholder="Insert your number">
            </div>

            <!--Contenedor tipo de proyecto-->
            <div class="w-full h-auto flex flex-col gap-2">
                <label for="inputProject" class="text-gray-500 text-3xl">Type of project</label>
                <input type="email" id="inputProject" name="typeProject" class="border border-gray-400 rounded-lg text-center sm:px-3 md:px-3 px-10 sm:py-1 md:py-1 lg:py-1 xl:py-1 2xl:py-1 py-2 focus:outline-none focus:border-[#3B88C3]" 
                    autocomplete="off" placeholder="Insert your type">
            </div>

        </div>

       <!--Contenedor descripción adicional-->
        <div class="w-full h-auto flex flex-col justify-center items-center text-center gap-2 mt-6">
            <p class="text-gray-500 text-3xl">Additional description</p>
            <textarea class="sm:w-full md:w-full lg:w-full xl:w-full 2xl:w-full w-full h-auto min-h-[150px] border border-gray-400 rounded-lg text-start p-4 sm:px-10 md:px-10 focus:outline-none focus:border-[#3B88C3]" id="moreInformation"></textarea>

        </div>

        <!--Contenedor botón enviar-->
        <div class="w-auto h-auto flex flex-col justify-center items-center text-center gap-2 mt-8">

            <button type="submit" class="w-auto h-auto hover:bg-[#3B88C3] text-lg text-[#3B88C3] hover:text-white border border-[#3B88C3] py-2 px-10 rounded-lg cursor-pointer 
                duration-300" id="submitButton">Submit
            </button>

        </div>
      
    </div>

</section>

<style>

    /* Tema Oscuro */
    .dark-theme {
        background-color: #121212;
        color: #A0A0A0;
        transition: background-color 0.5s ease, color 0.5s ease;

    }

    /*Placeholder en tema oscuro*/
    .dark-theme input::placeholder {
        color: #99A1AF; 
    }

    /* Placeholder en tema claro */
    .light-theme input::placeholder {
        color: #99A1AF; /* Un gris oscuro para buen contraste en fondo claro */
    }

</style>
