---

---
<!--Contenedor de contacto-->
<section class="w-full h-auto flex justify-center items-center">

    <!--Contenedor barra de contacto, counter section y referenciador-->
    <div class="w-auto h-auto m-auto flex flex-row justify-center items-center bg-[#3B88C3] px-30 mt-22 rounded-xl">

        <!--Contenedor texto-->
        <div class="w-1/3 h-auto flex justify-start">
            <p class="text-white text-5xl p-5">Are you interested?</p>
        </div>

        <!--Contenedor counter section-->
        <div class="w-1/3 h-auto flex flex-row justify-center items-center">

            <!--Contenedor dato Nº 1-->
            <div class="w-1/3 h-auto flex justify-center items-center text-center contenedorCarrusel">
                <p class="text-white"><span class="text-5xl numero" id="spanProyectos" data-animate data-target="10">0</span><br><span class="text-xl">Completed projects</span></p>
            </div>

            <!--Contenedor dato Nº 2-->
            <div class="w-1/3 h-auto flex justify-center items-center text-center contenedorCarrusel">
                <p class="text-white"><span class="text-5xl numero" id="spanColaboraciones" data-animate data-target="2">0</span><br><span class="text-xl">Concluded collaborations</span></p>
            </div>

            <!--Contenedor dato Nº 3-->
            <div class="w-1/3 h-auto flex justify-center items-center text-center contenedorCarrusel">
                <p class="text-white"><span class="text-5xl numero" id="spanExperiencia"  data-animate data-target="3">0</span><br><span class="text-xl">Years of experience</span></p>
            </div>

        </div>

        <!--Contenedor referenciador-->
        <div class="w-1/3 h-auto flex justify-end">
            <p class="text-white text-5xl">Contact me!</p>
        </div>

    </div>

</section>
