---

---
<!--
<section class="md:w-[800px] md:h-[450px] md:mt-[1450px] md:right-16 absolute flex bg-[#111111] rounded-2xl sombraVioleta">
    <form action="#" method="POST">
        
        <div class="absolute flex top-6 justify-center items-center md:ml-[230px]">
            <p class="text-white text-6xl">Contact Form</p>
        </div>
        
        

        <div class="md:mt-[110px] md:ml-[50px] border-2 border-purple-800 rounded-xl flex justify-center items-center gap-8">
            <label for="name" class="text-white">Name:</label>
            <input type="text" id="name" name="name" required placeholder="Your name" class="bg-[#111111] rounded-xl flex text-center text-white">
        </div>

        <div class="md:mt-[20px] md:ml-[50px] border-2 border-purple-800 rounded-xl flex justify-center items-center gap-8">
            <label for="surname" class="text-white md:ml-[15px]">Surname:</label>
            <input type="text" id="surname" name="surname" required placeholder="Your surname" class="bg-[#111111] rounded-xl flex text-center text-white">
        </div>

        <div class="md:mt-[20px] md:ml-[50px] border-2 border-purple-800 rounded-xl flex justify-center items-center gap-8">
            <label for="surname" class="text-white md:ml-[15px]">Surname:</label>
            <input type="text" id="surname" name="surname" required placeholder="Your surname" class="bg-[#111111] rounded-xl flex text-center text-white">
        </div>

        <div class="md:mt-[20px] md:ml-[50px] border-2 border-purple-800 rounded-xl flex justify-center items-center gap-8">
            <label for="cell" class="text-white md:ml-[15px]">Phone number:</label>
            <input type="tel" id="cell" name="cell" required placeholder="Your phone number" class="bg-[#111111] rounded-xl flex text-center text-white">
        </div>

        <div class="md:mt-[20px] md:ml-[50px] border-2 border-purple-800 rounded-xl flex justify-center items-center gap-8">
            <label for="correo" class="text-white md:ml-[15px]">Email:</label>
            <input type="email" id="correo" name="correo" required placeholder="Your email" class="bg-[#111111] rounded-xl flex text-center text-white">
        </div>

        <div class="md:mt-[20px] md:ml-[50px] border-2 border-purple-800 rounded-xl flex justify-center items-center gap-8">
            <label for="locality" class="text-white md:ml-[15px]">Locality:</label>
            <input type="text" id="locality" name="locality" required placeholder="Your locality" class="bg-[#111111] rounded-xl flex text-center text-white">
        </div>

        <div class="absolute flex justify-center items-center bottom-6 right-10 md:w-[100px] h-[35px] rounded-xl bg-purple-900 text-white">
            <button type="submit" class="w-full h-full">Enviar</button>
        </div>

    </form>
</section>
<section class="absolute flex justify-center items-center text-center md:w-[550px] md:h-[100px] md:mt-[1430px] md:left-14 bg-[#111111] rounded-2xl sombraVioleta">
    <p class="text-white text-7xl">Contact Me!</p>
</section>

<section class="absolute flex justify-center items-center text-center md:w-[850px] md:h-[150px] md:mt-[1560px] md:left-14 bg-[#111111] rounded-2xl">
    <p class="text-gray-400 p-6"><span class="text-white text-lg">Contact Form</span><br>
        
        To be able to communicate with me, I ask that you fill out the available form. Once you submit the form, I will review your information and get in touch with you as soon as possible. 
        I look forward to the opportunity to collaborate with you!

    </p>
</section>

<section class="absolute flex justify-center items-center text-center md:w-[850px] md:h-[180px] md:mt-[1720px] md:left-14 bg-[#111111] rounded-2xl">
    <p class="text-gray-400 p-6"><span class="text-white text-lg">Why contact me?</span><br>

        As a junior web developer, I am passionate about creating innovative and functional websites. I specialize in designing and developing intuitive and attractive user interfaces, always focusing 
        on user experience and accessibility. My goal is to help companies stand out in the digital environment through effective and customized web solutions. With my ability to work in a team and 
        learn quickly, I am committed to growing and adapting to the needs of each project.

    </p>
</section>

<style>
    .sombraVioleta {
        box-shadow: 10px 10px 10px rgb(58, 13, 92);
    }
</style>
-->