---

---
<!--
sm: Desde 640px hasta 767px (Celulares grandes o pequeños)
md: Desde 768px hasta 1023px. (Tablets o laptops más compactas)
lg: Desde 1024px hasta 1279px. (Laptos estándar o monitores pequeños)
xl: Desde 1280px hasta 1535px. (Monitores grandes)
2xl: 1536px en adelante. (Monitores ultra grandes)
-->
<header class="w-full h-auto absolute top-0 flex flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row 2xl:flex-row justify-between items-center text-center z-30 lg:sombraCaja">

    <div class="w-full h-auto flex justify-center xl:justify-start xl:ml-10 items-center lg:mb-5 mt-10 lg:mt-0">
        <a href="/" class="w-auto h-auto text-white text-4xl">
            <div class="w-full h-auto flex flex-row justify-between items-center text-center gap-5">
                <img src="img/FaviconMauri.png" alt="Favicon Mauri" class="w-[35px] h-[35px] border-2 border-white rounded-lg">
                <p class="text-black text-4xl">Mauricio Pucheta</p>
            </div>
        </a>
    </div>

    <nav class="w-full md:w1/3 h-auto flex sm:justify-center md:justify-center lg:justify-end items-center mt-4 sm:mt-10 md:mt-10 lg:mt-10 xl:mt-10 2xl:mt-10 text-black lg:mb-5">

        <div class="w-auto h-auto flex flex-col sm:flex-col md:flex-col lg:flex-row gap-2 sm:gap-2 md:gap-2 lg:gap-6 xl:gap-8 lg:mr-12 xl:mr-18 2xl:mr-18 m-auto">
            <a href="#aboutMauricio" class="w-auto h-auto font-normal underline-animated text-lg xl:text-xl funtionalA">About me</a>
            <a href="#projectsMauricio" class=" w-auto h-autofont-normal underline-animated text-lg xl:text-xl funtionalA">Projects</a>
            <a href="#contactMauricio" class="w-auto h-auto font-normal underline-animated text-lg xl:text-xl funtionalA">Contact</a>
            <a href="https://drive.google.com/uc?export=download&id=1XtuyWIQLnG3uic76t0dGRC8inNWFJXrh" class="w-auto h-auto font-normal underline-animated text-lg xl:text-xl"
                download="CV Mauricio Nahuel Pucheta">Download CV
            </a>
        </div>

    </nav>

</header>

<style>

    @media (max-width: 639px) {
        .vista-pequeña-header {
            font-size: 12px;
            padding: 8px;
        }
    }

    .underline-animated {
        position: relative;
        display: inline-block;
        flex-wrap: wrap;
        text-decoration: none;
        align-self: center;
    }

    .underline-animated::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: #3B88C3;
        width: 100%;
        max-width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom left;
    }

    .underline-animated:hover::after {
        transform: scaleX(1);
    }

    .sombraCaja {
        box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
    }

</style>