---

---
<section class="w-full h-auto flex flex-col justify-center items-center">

    <div class="w-[900px] h-auto flex flex-col justify-center items-center mt-18">

        <div class="w-[900px] h-auto flex justify-center items-center text-center m-auto ">
            <p class="text-[#3B88C3] text-5xl">My recents projects</p>
        </div>
    
        <div class="w-full h-auto flex justify-center items-center text-center mt-4">
            <p class="text-black text-xl px-6">Here are a few past design projects I've worked on. Want to see more? <a href="#" class="text-[#3B88C3] underline-animated">Contact me</a></p>
        </div>

    </div>

    <!--Contenedor de contenedores de tarjetas-->
    <div class="w-full h-auto flex flex-col mt-10">
        
        <!--Contenedor de tarjetas Nº 1-->
        <div class="w-full h-auto flex flex-row justify-center items-center text-center px-20 gap-5">

            <!--Tarjeta Nº 1-->
            <div class="w-[450px] h-[260px] flex flex-col relative justify-center items-center text-center rounded-xl contenedorTarjeta">
                <img src="img/bgBienesRaices.webp" alt="Foto proyecto Nº 1" class="w-full h-full object-cover rounded-xl brightness-40 efectoDesvanecimiento">
                <p class="absolute m-auto z-10 text-xl leading-tight text-white"><span class="text-5xl">Realar</span><br>Bienes Raíces</p>
                <h2 class="absolute m-auto text-lg px-12 leading-tight mb-4 text-white">Realar is a real estate consultancy offering expert property solutions</h2>
                <a href="#" target="_blank" class="absolute w-auto h-auto flex flex-row justify-center items-center gap-10 border border-white rounded-lg px-6 py-2 mt-24 hover:bg-white duration-200 ease-in
                    text-nowrap text-white hover:text-[#3B88C3] hover:items-[#3B88C3] cursor-pointer">
                    <h3 class="text-base">Visit website</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </a>
            
            </div>

            <!--Tarjeta Nº 2-->
            <div class="w-[450px] h-[260px] flex flex-col relative justify-center items-center text-center rounded-xl contenedorTarjeta">
                <img src="img/bgConcesionaria.webp" alt="Foto proyecto Nº 2" class="w-full h-full object-cover rounded-xl brightness-40 efectoDesvanecimiento">
                <p class="absolute m-auto z-10 text-xl leading-tight text-white"><span class="text-5xl">Drudi</span><br>Concesionaria</p>
                <h2 class="absolute m-auto text-lg px-12 leading-tight mb-4 text-white">Drudi is a dealership offering quality vehicles and great service</h2>
                <a href="#" target="_blank" class="absolute w-auto h-auto flex flex-row justify-center items-center gap-10 border border-white rounded-lg px-6 py-2 mt-24 hover:bg-white duration-200 ease-in
                    text-nowrap text-white hover:text-[#3B88C3] hover:items-[#3B88C3] cursor-pointer">
                    <h3 class="text-base">Visit website</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </a>
            </div>

            <!--Tarjeta Nº 3-->
            <div class="w-[450px] h-[260px] flex flex-col relative justify-center items-center text-center rounded-xl contenedorTarjeta">
                <img src="img/bgFerreteria.webp" alt="Foto proyecto Nº 3" class="w-full h-full object-cover rounded-xl brightness-40 efectoDesvanecimiento">
                <p class="absolute m-auto z-10 text-xl leading-tight text-white"><span class="text-5xl">Cima</span><br>Ferretería</p>
                <h2 class="absolute m-auto text-lg px-12 leading-tight mb-4 text-white">Cima is a hardware store specializing in trusted tools and resources</h2>
                <a href="#" target="_blank" class="absolute w-auto h-auto flex flex-row justify-center items-center gap-10 border border-white rounded-lg px-6 py-2 mt-24 hover:bg-white duration-200 ease-in
                    text-nowrap text-white hover:text-[#3B88C3] hover:items-[#3B88C3] cursor-pointer">
                    <h3 class="text-base">Visit website</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </a>
            </div>

        </div>

        <!--Contenedor de tarjetas Nº 2-->
        <div class="w-full h-auto flex flex-row justify-center items-center text-center px-20 gap-5 mt-2">
            
            <!--Tarjeta Nº 4-->
            <div class="w-[450px] h-[260px] flex flex-col relative justify-center items-center text-center rounded-xl contenedorTarjeta">
                <img src="img/bgHocicos.webp" alt="Foto proyecto Nº 4" class="w-full h-full object-cover rounded-xl brightness-40 efectoDesvanecimiento">
                <p class="absolute m-auto z-10 text-xl leading-tight text-white"><span class="text-5xl">Hocicos</span><br>ONG</p>
                <h2 class="absolute m-auto text-lg px-12 leading-tight mb-4 text-white">Hocicos is a nonprofit dedicated to rescuing and caring for injured or homeless animals</h2>
                <a href="#" target="_blank" class="absolute w-auto h-auto flex flex-row justify-center items-center gap-10 border border-white rounded-lg px-6 py-2 mt-24 hover:bg-white duration-200 ease-in
                    text-nowrap text-white hover:text-[#3B88C3] hover:items-[#3B88C3] cursor-pointer">
                    <h3 class="text-base">Visit website</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </a>
            </div>

            <!--Tarjeta Nº 5-->
            <div class="w-[450px] h-[260px] flex flex-col relative justify-center items-center text-center rounded-xl contenedorTarjeta">
                <img src="img/bgJacana.webp" alt="Foto proyecto Nº 5" class="w-full h-full object-cover rounded-xl brightness-40 efectoDesvanecimiento">
                <p class="absolute m-auto z-10 text-xl leading-tight text-white"><span class="text-5xl">Jacana</span><br>Indumentaria Deportiva</p>
                <h2 class="absolute m-auto text-lg px-12 leading-tight mb-4 text-white">Jacana is a sportswear brand crafted for athletes seeking performance and comfort</h2>
                <a href="#" target="_blank" class="absolute w-auto h-auto flex flex-row justify-center items-center gap-10 border border-white rounded-lg px-6 py-2 mt-24 hover:bg-white duration-200 ease-in
                    text-nowrap text-white hover:text-[#3B88C3] hover:items-[#3B88C3] cursor-pointer">
                    <h3 class="text-base">Visit website</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </a>
            </div>

            <!--Tarjeta Nº 6-->
            <div class="w-[450px] h-[260px] flex flex-col relative justify-center items-center text-center rounded-xl contenedorTarjeta">
                <img src="img/bgClickShop.webp" alt="Foto proyecto Nº 6" class="w-full h-full object-cover rounded-xl brightness-40 efectoDesvanecimiento">
                <p class="absolute m-auto z-10 text-xl leading-tight text-white"><span class="text-5xl">ClickShop</span><br>Tienda Virtual</p>
                <h2 class="absolute m-auto text-lg px-12 leading-tight mb-4 text-white">ClickShop is a web application that makes online shopping easy, fast, and accessible</h2>
                <a href="#" target="_blank" class="absolute w-auto h-auto flex flex-row justify-center items-center gap-10 border border-white rounded-lg px-6 py-2 mt-24 hover:bg-white duration-200 ease-in
                    text-nowrap text-white hover:text-[#3B88C3] hover:items-[#3B88C3] cursor-pointer">
                    <h3 class="text-base">Visit website</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg>
                </a>
            </div>

        </div>

    </div>

</section>

<style>

    /*Animación subrayado*/
    .underline-animated {
        position: relative;
        display: inline-block;
        flex-wrap: wrap;
        text-decoration: none;
        align-self: center;
    }

    .underline-animated::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: #3B88C3;
        width: 100%;
        max-width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom left;
        pointer-events: none;
    }

    .underline-animated:hover::after {
        transform: scaleX(1);
    }

    /*Efecto desvanecimiento*/
    .efectoDesvanecimiento {
        transition: opacity 0.5s ease;
    }

    /*Ocultar la imagen del contenedor*/
    .contenedorTarjeta:hover img {
        opacity: 0;
        z-index: -10;
    }

    /*Ocultar texto del contenedor*/
    .contenedorTarjeta:hover p {
        visibility: hidden;
    }

    /*Ocultar el <a> al principio*/
    .contenedorTarjeta a {
        opacity: 0;
        visibility: hidden;
    }

    /*Ocultar el <h2> al principio*/
    .contenedorTarjeta h2 {
        opacity: 0;
        visibility: hidden;
    }

    /*Mostrar el a con el hover*/
    .contenedorTarjeta:hover a {
        opacity: 1;
        visibility: visible;
    }

    /*Mostrar el h2 con el hover*/
    .contenedorTarjeta:hover h2 {
        opacity: 1;
        visibility: visible;
    }
   
    /*Background contenedor tarjeta*/
    .contenedorTarjeta:hover {
        transition: 0.5s ease-in-out;
        background-color: #3B88C3; /* Color de fondo en el hover */
    }


</style>
